.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.signInContainer {
  position: absolute;
  display: flex;
  align-self: center;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 22rem;
  height: 25rem;

  background-color: rgb(27, 28, 31, 0.4);
  outline: 1px solid rgb(83, 83, 83);
  padding: 3rem;

  border-radius: 1rem;
}

.signInContainer>h1 {
  padding-top: 14%;
  color: white;
  font-size: 1.9rem;
  letter-spacing: -0.5px;
  line-height: 1.2em;
  margin-bottom: 0;
  align-self: flex-start;
}

.signInContainer>p {
  font-size: 1.25rem;
  line-height: 1.3em;
  letter-spacing: -0.5px;
  margin-top: 1rem;
}

.signInButtons>* {
  margin-bottom: 5%;

}